/*.keywords-item{*/
    /*border-bottom:1px  dashed ;*/
    /*position: relative;*/
    /*margin: 0 19px 0 12px;*/
    /*padding-right: 16px;*/
    /*padding-bottom: 1px;*/
    /*height: 55px;*/
    /*line-height: 55px;*/
    /*font-size: 14px;*/
    /*overflow: hidden*/
/*}*/
/*.keywords-list{*/
    /*height: 447px;*/
/*}*/


/* keywords-list */
.keywords-list{
    float: left;
    width: 240px;
    height: 447px;
    padding: 0 0;
    margin-right: 10px;
    background: #666;
    color: #fff;
}
.keywords-list .keywords-item{
    /*padding-left: 10px;*/
    /*height: 35px;*/
    /*line-height: 35px;*/
    /*font-size: 14px;*/
    border-bottom:1px  dashed ;
    position: relative;
    margin: 0 19px 0 12px;
    padding-right: 16px;
    padding-bottom: 1px;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    overflow: hidden

}
/*设置font-awesome样式的*/
.keywords-list .keywords-item .fa-chevron-right:before{
    display: block;
    position: absolute;
    right: 1px;
    top: 50%;
    margin-top: -6px
}

.keywords-list .keywords-item:hover{
    background: #999;
}
.keywords-list .keywords-item .link{
    margin-right: 6px;
    color: #fff;
}
.keywords-list .keywords-item .link:hover{
    color: #c60023;
}