<!--double-module区域  这里的区域可以做成html模板双层-->

<div class="double-module">
    <div id="J_newGoods" class="new-module module-left j_floor" data-floorid="102" data-tagid="0" data-title="新品优选">
        <div class="module-hd">
            <h4>新品优选 &middot; </h4>
            <span>优质新品/潜力新品</span>
            <a href="https://www.ypzdw.com/jshop/ca/newGoodsRec" class="more-page-button" target="_blank">更多新品<i class="icon-more"></i></a>
        </div>
        <div class="module-bd">
            <div class="list-module">
                <ul>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://hbqrmyy.ypzdw.com/0/738409?entityid=" target="_blank">马应龙麝香痔疮膏</a>
                        </div>
                        <div class="item-specification">
                            10g/支
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://hbqrmyy.ypzdw.com/0/738409?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=7981776c-53d0-4680-8af7-36e07735c195_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://jc.ypzdw.com/0/1153144?entityid=" target="_blank">奥美拉唑肠溶胶囊</a>
                        </div>
                        <div class="item-specification">
                            20mg*14粒/瓶
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://jc.ypzdw.com/0/1153144?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=22004d24-d3cb-43b7-9ebb-1fb3615506b8_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://scrtyy.ypzdw.com/0/56392?entityid=" target="_blank">丁桂儿脐贴</a>
                        </div>
                        <div class="item-specification">
                            1.6g*2贴/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://scrtyy.ypzdw.com/0/56392?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=7b4aa710-33d0-486a-9e42-cac970883e53_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://jnd.ypzdw.com/0/729004?entityid=" target="_blank">丹参注射液</a>
                        </div>
                        <div class="item-specification">
                            10ml*5支/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://jnd.ypzdw.com/0/729004?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=409e4a50-7c50-401d-afe0-9cff09e57d0f_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://scqjyyyxgs.ypzdw.com/0/1660599?entityid=" target="_blank">藿香清胃片</a>
                        </div>
                        <div class="item-specification">
                            18片*2板/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://scqjyyyxgs.ypzdw.com/0/1660599?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=8b656178-0e32-409e-a410-5f7666f0d7da_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://scrtyy.ypzdw.com/0/722043?entityid=" target="_blank">青霉素V钾片</a>
                        </div>
                        <div class="item-specification">
                            0.236g*30片/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://scrtyy.ypzdw.com/0/722043?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=b0f692f7-8fcd-48f5-9dd1-07019d96381e_110x110" /></a>
                        </div></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="J_hotGoods" class="hot-module module-right j_floor" data-floorid="103" data-tagid="0" data-title="当前好卖">
        <div class="module-hd">
            <h4>当前好卖 &middot; </h4>
            <span>大家都在买</span>
            <a href="https://www.ypzdw.com/jshop/ca/commonRec?t=hotSale" class="more-page-button" target="_blank">更多好卖品种<i class="icon-more"></i></a>
        </div>
        <div class="module-bd">
            <div class="list-module">
                <ul>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://jc.ypzdw.com/0/1172524?entityid=21435" target="_blank">云南白药气雾剂</a>
                        </div>
                        <div class="item-specification">
                            50g+60g/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://jc.ypzdw.com/0/1172524?entityid=21435" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=19dd2cbc-49b7-49b2-b7e7-a73f0a719c94_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://jc.ypzdw.com/0/981108?entityid=21436" target="_blank">地奥心血康胶囊</a>
                        </div>
                        <div class="item-specification">
                            0.1g*20粒/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://jc.ypzdw.com/0/981108?entityid=21436" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=5807a570-4f0a-4eac-96ba-22b97ceb6671_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://rjyiyao.ypzdw.com/0/565455?entityid=" target="_blank">感冒灵颗粒</a>
                        </div>
                        <div class="item-specification">
                            10g*9袋/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://rjyiyao.ypzdw.com/0/565455?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=331cd78f-1f9d-4ab2-8fdc-171e57b33218_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://jztyy.ypzdw.com/0/695283?entityid=" target="_blank">奥美拉唑肠溶胶囊</a>
                        </div>
                        <div class="item-specification">
                            20mg*14粒/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://jztyy.ypzdw.com/0/695283?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=b8d7217d-4dfb-4d9a-9e9a-75a57a0d5da4_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://hbqrmyy.ypzdw.com/0/738026?entityid=" target="_blank">酒石酸美托洛尔片</a>
                        </div>
                        <div class="item-specification">
                            25mg*20片/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://hbqrmyy.ypzdw.com/0/738026?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=16f92186-8314-40fe-a1ad-55bcaa0a4012_110x110" /></a>
                        </div></li>
                    <li class="item">
                        <div class="item-title">
                            <a href="https://scrtyy.ypzdw.com/0/56347?entityid=" target="_blank">云南白药创可贴</a>
                        </div>
                        <div class="item-specification">
                            1.5cm*2.3cm*100片/盒
                        </div>
                        <div class="item-unlogin">
                            <span>会员价</span>登录可见
                        </div>
                        <div class="item-img">
                            <a href="https://scrtyy.ypzdw.com/0/56347?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=eb0f779b-73ce-406b-844c-2d666f3a9a2f_110x110" /></a>
                        </div></li>
                    <!--<li class="item">-->
                        <!--<div class="item-title">-->
                            <!--<a href="https://scrtyy.ypzdw.com/0/56357?entityid=" target="_blank">云南白药气雾剂</a>-->
                        <!--</div>-->
                        <!--<div class="item-specification">-->
                            <!--50g+60g/盒-->
                        <!--</div>-->
                        <!--<div class="item-unlogin">-->
                            <!--<span>会员价</span>登录可见-->
                        <!--</div>-->
                        <!--<div class="item-img">-->
                            <!--<a href="https://scrtyy.ypzdw.com/0/56357?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=79f5ee82-cf02-42f3-80d2-68ac8bba9eef_110x110" /></a>-->
                        <!--</div></li>-->
                    <!--<li class="item">-->
                        <!--<div class="item-title">-->
                            <!--<a href="https://jc.ypzdw.com/0/1732427?entityid=" target="_blank">复方氨酚那敏颗粒</a>-->
                        <!--</div>-->
                        <!--<div class="item-specification">-->
                            <!--10g*50包/大袋-->
                        <!--</div>-->
                        <!--<div class="item-unlogin">-->
                            <!--<span>会员价</span>登录可见-->
                        <!--</div>-->
                        <!--<div class="item-img">-->
                            <!--<a href="https://jc.ypzdw.com/0/1732427?entityid=" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=c94301cb-dded-4b4c-b306-f11be632bd66_110x110" /></a>-->
                        <!--</div></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>