<!--商品的module区域，F1 F2 F3等存放的地方 单个商品区-->
<!---->
<div id="J_changbei" class="module-normal j_floor" data-floorid="105" data-tagid="0" data-title="常备好货" style="display: block;">
    <div class="module-hd">
        <h4>常备好货 &middot; </h4>
        <span>药店常备药品</span>
        <a href="https://www.ypzdw.com/jshop/ca/commonRec?t=regularBuy" class="more-page-button" target="_blank">更多常备好货<i class="icon-more"></i></a>
    </div>
    <div class="module-bd">
        <div class="list-module-normal">
            <ul>
                <li class="item-pic-col"><a href="https://longyi.ypzdw.com/0/844084?entityid=20798" target="_blank">
                    <div class="item-unlogin">
                        <span>会员价</span>登录可见
                    </div>
                    <div class="item-img">
                        <img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=f8880891-6279-4697-a9fe-f7057d0d5577" />
                    </div></a></li>
                <li class="item">
                    <div class="item-title">
                        <a href="https://zjshayy.ypzdw.com/0/1435131?entityid=18771" target="_blank">康妇消炎栓</a>
                    </div>
                    <div class="item-specification">
                        2.0g*6粒/盒
                    </div>
                    <div class="item-unlogin">
                        <span>会员价</span>登录可见
                    </div>
                    <div class="item-img">
                        <a href="https://zjshayy.ypzdw.com/0/1435131?entityid=18771" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=0c799b8d-2264-4efa-a593-26a3ed2f0b8d_140x140" /></a>
                    </div></li>
                <li class="item">
                    <div class="item-title">
                        <a href="https://scytyy.ypzdw.com/0/51264?entityid=20795" target="_blank">维C银翘片</a>
                    </div>
                    <div class="item-specification">
                        12片*2板/盒
                    </div>
                    <div class="item-unlogin">
                        <span>会员价</span>登录可见
                    </div>
                    <div class="item-img">
                        <a href="https://scytyy.ypzdw.com/0/51264?entityid=20795" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=8ff5a3fd-bf3d-4b1c-a65a-7e77a8ace3f0_140x140" /></a>
                    </div></li>
                <li class="item">
                    <div class="item-title">
                        <a href="https://scytyy.ypzdw.com/0/56044?entityid=10172" target="_blank">小儿氨酚黄那敏颗粒</a>
                    </div>
                    <div class="item-specification">
                        6g*10袋/盒
                    </div>
                    <div class="item-unlogin">
                        <span>会员价</span>登录可见
                    </div>
                    <div class="item-img">
                        <a href="https://scytyy.ypzdw.com/0/56044?entityid=10172" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=28064b64-225b-462c-8b38-7a01694126d5_140x140" /></a>
                    </div></li>
                <li class="item">
                    <div class="item-title">
                        <a href="https://bioey.ypzdw.com/0/1293875?entityid=18772" target="_blank">加味烂积丸</a>
                    </div>
                    <div class="item-specification">
                        200粒/瓶
                    </div>
                    <div class="item-unlogin">
                        <span>会员价</span>登录可见
                    </div>
                    <div class="item-img">
                        <a href="https://bioey.ypzdw.com/0/1293875?entityid=18772" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=f60a0ca9-7b46-48bd-82c8-3a71305371fd_140x140" /></a>
                    </div></li>
                <li class="item">
                    <div class="item-title">
                        <a href="https://DH.ypzdw.com/0/1406314?entityid=10178" target="_blank">九味肝泰胶囊</a>
                    </div>
                    <div class="item-specification">
                        0.35g*36粒/盒
                    </div>
                    <div class="item-unlogin">
                        <span>会员价</span>登录可见
                    </div>
                    <div class="item-img">
                        <a href="https://DH.ypzdw.com/0/1406314?entityid=10178" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=48713bad-ae42-4600-ae60-5413e63e1f93_140x140" /></a>
                    </div></li>
                <li class="item">
                    <div class="item-title">
                        <a href="https://jc.ypzdw.com/0/981122?entityid=20062" target="_blank">健胃消食片</a>
                    </div>
                    <div class="item-specification">
                        0.8g*32片/盒
                    </div>
                    <div class="item-unlogin">
                        <span>会员价</span>登录可见
                    </div>
                    <div class="item-img">
                        <a href="https://jc.ypzdw.com/0/981122?entityid=20062" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=9b5dd422-4618-4997-9c10-fa3a6ca38f2f_140x140" /></a>
                    </div></li>
                <li class="item">
                    <div class="item-title">
                        <a href="https://scrtyy.ypzdw.com/0/93190?entityid=20796" target="_blank">连花清瘟胶囊</a>
                    </div>
                    <div class="item-specification">
                        0.35g*24粒/盒
                    </div>
                    <div class="item-unlogin">
                        <span>会员价</span>登录可见
                    </div>
                    <div class="item-img">
                        <a href="https://scrtyy.ypzdw.com/0/93190?entityid=20796" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=18b072b7-41c8-4062-a324-ecc30d293045_140x140" /></a>
                    </div></li>
                <li class="item">
                    <div class="item-title">
                        <a href="https://scytyy.ypzdw.com/0/51027?entityid=20797" target="_blank">抗病毒颗粒</a>
                    </div>
                    <div class="item-specification">
                        9g*8袋/盒
                    </div>
                    <div class="item-unlogin">
                        <span>会员价</span>登录可见
                    </div>
                    <div class="item-img">
                        <a href="https://scytyy.ypzdw.com/0/51027?entityid=20797" target="_blank"><img src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=16ffd4b2-6f12-4a4c-8328-948ca0b212f8_140x140" /></a>
                    </div></li>
            </ul>
        </div>
    </div>
</div>


