/*
* Author lj
* Date 2018-04-11 17:56
* Descriotion 
*/


.module-normal#J_changbei {
    display: none
}

.module-normal#J_changbei .module-hd {
    border-bottom: 3px solid #02a943
}

.module-normal#J_changbei .module-hd h4,.module-normal#J_changbei .module-hd span {
    color: #02a943
}

.module-normal#J_changbei .module-bd {
    border-top: 0
}

.module-normal .module-bd {
    height: 496px
}

.list-module-normal {
    margin-right: -2px
}

.list-module-normal .item {
    width: 237px;
    height: 248px;
    list-style: none
}

.list-module-normal .item .item-title {
    margin-top: 18px;
    padding: 0 30px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #333
}

.list-module-normal .item .item-title a{
    background:transparent;
    text-decoration:none;
    color: #666;
}

.list-module-normal .item .item-specification {
    margin-top: 2px;
    padding: 0 30px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #333
}

.list-module-normal .item .item-price {
    padding: 0 30px;
    margin-top: 4px;
    height: 20px;
    line-height: 20px;
    color: #ff3434;
    font-size: 14px
}

.list-module-normal .item .item-price span {
    font-size: 16px
}

.list-module-normal .item .item-price s {
    padding-left: 6px;
    color: #999
}

.list-module-normal .item .item-unlogin {
    padding: 0 30px;
    margin-top: 12px;
    height: 15px;
    line-height: 15px;
    color: #77c550;
    font-size: 12px
}

.list-module-normal .item .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 41px;
    height: 15px;
    line-height: 15px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module-normal .item .item-img {
    margin: 0 auto;
    width: 140px;
    height: 140px
}

.list-module-normal .item .item-img img {
    width: 140px;
    height: 140px
}

.list-module-normal .item-pic-col {
    float: left;
    position: relative;
    width: 237px;
    height: 496px;
    list-style: none;
    overflow: hidden
}

.list-module-normal .item-pic-col .item-price {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    width: 100%;
    text-align: center;
    color: #ff3434;
    font-size: 18px;
    font-weight: bold;
    z-index: 2
}

.list-module-normal .item-pic-col .item-price span {
    font-size: 24px
}

.list-module-normal .item-pic-col .item-unlogin {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    z-index: 9;
    margin-top: 12px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #77c550;
    font-size: 14px;
    text-align: center
}

.list-module-normal .item-pic-col .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 50px;
    height: 20px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module-normal .item-pic-col .item-img {
    height: 496px
}

.list-module-normal .item-pic-col .item-img img {
    width: 237px;
    height: 496px
}

.list-module-normal .item-pic-row {
    float: left;
    position: relative;
    width: 475px;
    height: 248px;
    list-style: none;
    overflow: hidden
}

.list-module-normal .item-pic-row .item-price {
    display: none;
    position: absolute;
    left: 65px;
    top: 128px;
    text-align: center;
    color: #ff3434;
    font-size: 18px;
    font-weight: bold;
    z-index: 2
}

.list-module-normal .item-pic-row .item-price span {
    font-size: 24px
}

.list-module-normal .item-pic-row .item-unlogin {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    z-index: 9;
    margin-top: 12px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #77c550;
    font-size: 14px;
    text-align: center
}

.list-module-normal .item-pic-row .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 50px;
    height: 20px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module-normal .item-pic-row .item-img {
    height: 248px
}

.list-module-normal .item-pic-row .item-img img {
    width: 475px;
    height: 248px
}

.list-module-normal .item-pic-small {
    float: left;
    position: relative;
    width: 237px;
    height: 248px;
    list-style: none;
    overflow: hidden
}

.list-module-normal .item-pic-small .item-price {
    display: none;
    position: absolute;
    left: 65px;
    top: 128px;
    text-align: center;
    color: #ff3434;
    font-size: 18px;
    font-weight: bold;
    z-index: 2
}

.list-module-normal .item-pic-small .item-price span {
    font-size: 24px
}

.list-module-normal .item-pic-small .item-unlogin {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    z-index: 9;
    margin-top: 12px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #77c550;
    font-size: 14px;
    text-align: center
}

.list-module-normal .item-pic-small .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 50px;
    height: 20px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module-normal .item-pic-small .item-img {
    height: 248px
}

.list-module-normal .item-pic-small .item-img img {
    width: 237px;
    height: 248px
}
.module-bd li {
    position: relative;
    margin-top: -1px;
    margin-left: -1px;
    float: left;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    z-index: 1
}



/*left-module*/
.module-left {
    float: left;
    width: 583px
}
.new-module#J_newGoods .module-hd {
    background: url(../../../image/background/floor-banner-bg.png) no-repeat;
    background-position: 0 5px;
    padding-left: 15px
}

.new-module#J_newGoods .module-hd h4,.new-module#J_newGoods .module-hd span {
    color: #fff
}

.new-module#J_newGoods .module-hd .more-page-button {
    margin-right: 25px;
    color: #fff
}

.new-module#J_newGoods .module-hd .more-page-button:hover {
    color: #77c552
}

.new-module#J_newGoods .module-hd .icon-more {
    background: url(../../../image/background/floor-banner-bg.png);
    background-position: 0 -142px
}

.new-module#J_newGoods .module-bd {
    border-top: 0
}

.hot-module#J_hotGoods .module-hd {
    background: url(../../../image/background/floor-banner-bg.png) no-repeat;
    background-position: 0 -66px;
    padding-left: 15px
}

.hot-module#J_hotGoods .module-hd h4,.hot-module#J_hotGoods .module-hd span {
    color: #fff
}

.hot-module#J_hotGoods .module-hd .more-page-button {
    margin-right: 25px;
    color: #fff
}

.hot-module#J_hotGoods .module-hd .more-page-button:hover {
    color: #77c552
}

.hot-module#J_hotGoods .module-hd .icon-more {
    background-image: url(../../../image/background/floor-banner-bg.png);
    background-position: 0 -142px
}

.hot-module#J_hotGoods .module-bd {
    border-top: 0
}

.more-page-button {
    float: right;
    position: relative;
    line-height: 55px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
    right: 20px
}

.more-page-button .icon-more {
    position: absolute;
    display: block;
    top: 19px;
    right: -20px;
    width: 16px;
    height: 16px;
    background: url(../../../image/icon/icon_more.png) no-repeat
}

/*right-module*/
.module-right{
    float: right;
    width: 583px
}


/*double-module*/
.list-module {
    margin-right: -1px
}

.list-module .item {
    width: 193px;
    height: 199px;
    list-style: none;
    border-style: dashed;
    border-bottom: none
}

.list-module .item .item-title {
    margin-top: 18px;
    padding: 0 30px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #333
}

.list-module .item .item-specification {
    margin-top: 1px;
    padding: 0 30px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #333
}

.list-module .item .item-price {
    padding: 0 30px;
    margin-top: 4px;
    height: 20px;
    line-height: 20px;
    color: #ff3434;
    font-size: 14px
}

.list-module .item .item-price span {
    font-size: 20px
}

.list-module .item .item-price s {
    padding-left: 6px;
    color: #999
}

.list-module .item .item-unlogin {
    margin-top: 4px;
    padding: 0 30px;
    height: 15px;
    line-height: 15px;
    color: #77c550;
    font-size: 12px;
    overflow: hidden
}

.list-module .item .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 41px;
    height: 15px;
    line-height: 15px;
    background-color: #77c550;
    color: #fff;
    font-size: 12px;
    text-align: center;
    vertical-align: top
}

.list-module .item .item-img {
    margin: 0 auto;
    width: 110px;
    height: 110px
}

.list-module .item .item-img img {
    width: 110px;
    height: 110px
}

.list-module .item-pic-col,.list-module .item-pic-col-right {
    float: left;
    position: relative;
    width: 193px;
    height: 397px;
    list-style: none;
    overflow: hidden
}

.list-module .item-pic-col.item-pic-col-right,.list-module .item-pic-col-right.item-pic-col-right {
    float: right;
    width: 193px
}

.list-module .item-pic-col.item-pic-col-right .item-img img,.list-module .item-pic-col-right.item-pic-col-right .item-img img {
    width: 193px
}

.list-module .item-pic-col .item-unlogin,.list-module .item-pic-col-right .item-unlogin {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    z-index: 9;
    margin-top: 12px;
    width: 100%;
    line-height: 15px;
    line-height: 15px;
    color: #77c550;
    font-size: 12px;
    text-align: center
}

.list-module .item-pic-col .item-unlogin span,.list-module .item-pic-col-right .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 50px;
    height: 20px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module .item-pic-col .item-price,.list-module .item-pic-col-right .item-price {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    width: 100%;
    text-align: center;
    color: #ff3434;
    font-size: 18px;
    font-weight: bold;
    z-index: 2
}

.list-module .item-pic-col .item-price span,.list-module .item-pic-col-right .item-price span {
    font-size: 24px
}

.list-module .item-pic-col .item-img,.list-module .item-pic-col-right .item-img {
    height: 397px
}

.list-module .item-pic-col .item-img img,.list-module .item-pic-col-right .item-img img {
    width: 193px;
    height: 397px
}

.list-module .item-pic-row {
    float: left;
    position: relative;
    width: 387px;
    height: 200px;
    list-style: none;
    overflow: hidden
}

.list-module .item-pic-row .item-price {
    display: none;
    position: absolute;
    left: 65px;
    top: 128px;
    text-align: center;
    color: #ff3434;
    font-size: 18px;
    font-weight: bold;
    z-index: 2
}

.list-module .item-pic-row .item-price span {
    font-size: 24px
}

.list-module .item-pic-row .item-unlogin {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    z-index: 9;
    margin-top: 12px;
    width: 100%;
    height: 15px;
    line-height: 15px;
    color: #77c550;
    font-size: 12px;
    text-align: center
}

.list-module .item-pic-row .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 41px;
    height: 15px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module .item-pic-row .item-img {
    height: 200px
}

.list-module .item-pic-row .item-img img {
    width: 387px;
    height: 200px
}

.list-module-normal {
    margin-right: -2px
}

.list-module-normal .item {
    width: 237px;
    height: 248px;
    list-style: none
}

.list-module-normal .item .item-title {
    margin-top: 18px;
    padding: 0 30px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    color: #333
}

.list-module-normal .item .item-specification {
    margin-top: 2px;
    padding: 0 30px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: #333
}

.list-module-normal .item .item-price {
    padding: 0 30px;
    margin-top: 4px;
    height: 20px;
    line-height: 20px;
    color: #ff3434;
    font-size: 14px
}

.list-module-normal .item .item-price span {
    font-size: 16px
}

.list-module-normal .item .item-price s {
    padding-left: 6px;
    color: #999
}

.list-module-normal .item .item-unlogin {
    padding: 0 30px;
    margin-top: 12px;
    height: 15px;
    line-height: 15px;
    color: #77c550;
    font-size: 12px
}

.list-module-normal .item .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 41px;
    height: 15px;
    line-height: 15px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module-normal .item .item-img {
    margin: 0 auto;
    width: 140px;
    height: 140px
}

.list-module-normal .item .item-img img {
    width: 140px;
    height: 140px
}

.list-module-normal .item-pic-col {
    float: left;
    position: relative;
    width: 237px;
    height: 496px;
    list-style: none;
    overflow: hidden
}

.list-module-normal .item-pic-col .item-price {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    width: 100%;
    text-align: center;
    color: #ff3434;
    font-size: 18px;
    font-weight: bold;
    z-index: 2
}

.list-module-normal .item-pic-col .item-price span {
    font-size: 24px
}

.list-module-normal .item-pic-col .item-unlogin {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    z-index: 9;
    margin-top: 12px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #77c550;
    font-size: 14px;
    text-align: center
}

.list-module-normal .item-pic-col .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 50px;
    height: 20px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module-normal .item-pic-col .item-img {
    height: 496px
}

.list-module-normal .item-pic-col .item-img img {
    width: 237px;
    height: 496px
}

.list-module-normal .item-pic-row {
    float: left;
    position: relative;
    width: 475px;
    height: 248px;
    list-style: none;
    overflow: hidden
}

.list-module-normal .item-pic-row .item-price {
    display: none;
    position: absolute;
    left: 65px;
    top: 128px;
    text-align: center;
    color: #ff3434;
    font-size: 18px;
    font-weight: bold;
    z-index: 2
}

.list-module-normal .item-pic-row .item-price span {
    font-size: 24px
}

.list-module-normal .item-pic-row .item-unlogin {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    z-index: 9;
    margin-top: 12px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #77c550;
    font-size: 14px;
    text-align: center
}

.list-module-normal .item-pic-row .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 50px;
    height: 20px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module-normal .item-pic-row .item-img {
    height: 248px
}

.list-module-normal .item-pic-row .item-img img {
    width: 475px;
    height: 248px
}

.list-module-normal .item-pic-small {
    float: left;
    position: relative;
    width: 237px;
    height: 248px;
    list-style: none;
    overflow: hidden
}

.list-module-normal .item-pic-small .item-price {
    display: none;
    position: absolute;
    left: 65px;
    top: 128px;
    text-align: center;
    color: #ff3434;
    font-size: 18px;
    font-weight: bold;
    z-index: 2
}

.list-module-normal .item-pic-small .item-price span {
    font-size: 24px
}

.list-module-normal .item-pic-small .item-unlogin {
    display: none;
    position: absolute;
    left: 0;
    top: 94px;
    z-index: 9;
    margin-top: 12px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #77c550;
    font-size: 14px;
    text-align: center
}

.list-module-normal .item-pic-small .item-unlogin span {
    display: inline-block;
    margin-right: 9px;
    width: 50px;
    height: 20px;
    background-color: #77c550;
    color: #fff;
    text-align: center
}

.list-module-normal .item-pic-small .item-img {
    height: 248px
}

.list-module-normal .item-pic-small .item-img img {
    width: 237px;
    height: 248px
}
/*module-hd是标头 module-bd 是身*/
.module-hd{
    margin-top: 15px;
}
.module-bd {
    position: relative;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    overflow: hidden
}

.module-hd>span {
    line-height: 55px;
    font-size: 16px;
    color: #666
}
.module-hd>h4 {
    float: left;
    line-height: 55px;
    font-size: 22px;
    color: #333;
    font-weight: normal
}
.module-bd .list-module .item .item-title a{
    background:transparent;
    text-decoration:none;
    color: #666;
}