<!--搜索栏下面的轮播guide栏-->
<div class="w">
    <ul class="keywords-list" id="keywords-list">
    </ul>
    <!--轮播图-->
    <div class="banner-con">
        <div class="loading"></div>
    </div>
    <div class="bottom-slider" id ='bottom_solider'>
    </div>
    <div id="J_focusMy" class="focus-my">
        <div class="bd">
            <div class="focus-my-out">
                <div class="my-icon">
                    <img src="https://static3.ypzdw.com/shop_v1.0/images/base/icon_avatar.png" alt="" />
                    <p>Hi，你好！</p>
                </div>
                <div class="btn-box">
                    <a href="https://passport.ypzdw.com/login?tab=account" class="btn-login">登录</a>
                    <a href="https://pass.ypzdw.com/Register" class="btn-reg">注册</a>
                </div>
                <div class="my-out-footer">
                    <p>互联网药品交易资格证</p>
                    <p class="my-out-code">国A20140002</p>
                </div>
            </div>
        </div>
        <div class="hd">
            <div class="item">
                <a href="https://pur.ypzdw.com/report/goodsbuyreport?notips=true" target="_blank" data-tracktype="8"> <i class="icon_index_v1 icon_index_qorder"></i> <p>秒下单</p> </a>
            </div>
            <div class="item">
                <a href="https://pur.ypzdw.com/Goods/Favorite" target="_blank" data-tracktype="9"> <i class="icon_index_v1 icon_index_collect"></i> <p>我的收藏</p> </a>
            </div>
            <div class="item">
                <a href="https://pur.ypzdw.com/Member/Message" target="_blank" data-tracktype="10"> <i class="icon_index_v1 icon_index_msg"></i> <p>通知消息</p>
                    <!--<em><span>99</span></em>--> </a>
            </div>
        </div>
        <div class="hd sales-hd">
            <div class="item">
                <i class="ico_main ico_zi"></i>
                <p>品质保障</p>
            </div>
            <div class="item">
                <i class="ico_main ico_peifu"></i>
                <p>先行赔付</p>
            </div>
            <div class="item">
                <i class="ico_main ico_jian"></i>
                <p>CFDA</p>
            </div>
        </div>
    </div>
</div>