<div id="y-sidebar">
    <div id="sidebarTab" class="y-sidebar-tab" style="margin-top: 186px;">
        <div class="sidebar-my j_sidetab" data-type="my" data-status="0" data-tracker="click_account_my" style="padding: 18px 0px;">
            <i class="ico_main ico_my_class"></i>
            <span>我
        <br>的</span></div>
        <div class="sidebar-cart j_sidetab" data-type="cart" data-status="0" data-tracker="click_accout_cart" style="padding: 18px 0px;">
            <i class="ico_main ico_bar_cart_class"></i>
            <span>购
        <br>物
        <br>车</span>
            <b id="cartNum">
                <em>0</em></b>
        </div>
        <div class="y-login" id="yLogin" style="display: none;">
            <div class="title">账户登录</div>
            <div class="error-msg"></div>
            <div class="group-login">
                <div class="form-li">
          <span>
            <i class="iconfont"> </i></span>
                    <input type="text" name="yUser" id="yUserName" class="input-text"></div>
                <div class="form-li">
          <span>
            <i class="iconfont"> </i></span>
                    <input type="password" name="yUser" id="yUserPassword" class="input-text"></div>
                <div class="form-link">
                    <a href="https://pass.ypzdw.com/Find">找回密码</a>
                    <span>|</span>
                    <a href="https://pass.ypzdw.com/Find/FindUserName">找回用户名</a></div>
                <div class="form-btn">
                    <a id="yBtnLogin" class="btn-login" href="javascript:;">登 录</a></div>
                <div class="form-link reg-link">
                    <a href="https://pass.ypzdw.com/Register/">现在去注册&gt;&gt;</a></div>
            </div>
        </div>
    </div>
    <div id="sidebarBd" class="y-sidebar-bd" style="width: 0px;">
        <div class="loading-small"></div>
    </div>
    <div class="sidebar-online">
        <div class="j_sidebarMessage">
            <i class="ico_main ico_chart_class"></i>
            <span>消
        <br>息</span>
            <b>
                <em id="J_barMessageCount">0</em></b>
        </div>
        <div class="sidebar-online-show">
            <div class="online-title">
                <a id="J_messageDelay" class="btn-message-close" href="javascript:;">今日不再提醒</a>未读消息</div>
            <div class="online-content" id="J_messageContent">
                <div class="nothing">没有新消息了</div></div>
            <div class="online-more">
                <a data-tracker="messageAll" href="https://www.ypzdw.com/jshop/message/index" target="_blank">查看全部</a></div>
        </div>
    </div>
    <div class="sidebar-code">
        <i class="ico_main ico_code_class"></i>
        <div class="sidebar-code-show">
            <img src="https://static2.ypzdw.com/shop/images/base/weixin_code.gif" alt=""></div>
    </div>
    <div class="sidebar-gotop">
        <a id="sidebarGoTop" href="javascript:;">
            <i class="ico_main ico_gotop"></i>
        </a>
    </div>
</div>