<!--小导航栏，当顶端消失的时候出现，当顶端出现的时候消失-->
<div id="yHeaderSmall" style="display: block;">
    <div class="y-small-header">
        <div id="yLogo" class="y-logo">
            <!--src="../../../favicon.ico"-->
            <a href=""><img style="width: 194px; height: 58px;" src="https://static.ypzdw.com/Handler/FileHandler.ashx?fid=70f2c94e-3b7e-485d-8401-1f6f7a52dc39" alt="" /></a>
        </div>
        <div id="ySearch" class="y-search">
            <div class="search-select">
                <div class="dropdown" id="chooseSearchType" data-search="2">
                    <div class="dt">
                        <span>商铺</span>
                        <i class="fa fa-chevron-down"></i>
                    </div>
                    <div class="dd dropdown-layer">
                        <div class="item">
                            <a href="javascript:;">商品</a>
                        </div>
                    </div>
                </div>
                <div class="search-select-tab" id="chooseSearchTypeTab">
                    <div class="dd">
                        <a class="" href="javascript:;">商品</a>
                    </div>
                    <div class="dd">
                        <a href="javascript:;" class="selected">商铺</a>
                    </div>
                </div>
            </div>
            <input style="display:none" />
            <input type="text" name="search" class="input-search" id="searchInput" autocomplete="off" />
            <button class="btn-search" id="btnSearch">搜 索</button>
            <div id="serachList" class="serach-list" style="display: none;">
            </div>
            <div id="hotKeyword" class="hot-key"></div>
            <div class="hot-activity" style="display: none;">
                <span>热门活动:</span>
                <a href="https://www.ypzdw.com/jshop/ca/yaohuasuan" target="_blank">上千个品种不止5折！</a>
                <a href="https://rjyiyao.ypzdw.com/" target="_blank">三九感冒灵1元购</a>
                <a href="https://static.ypzdw.com/topic/3.14xls/" target="_blank">徐老师精选好品种</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" >

</script>
