<!--采购流程-->
<div class="module-procedures">
    <div class="procedures">
        <div class="procedures-hd">
            <span class="line"></span>
            <b>采购流程</b>
        </div>
        <div class="procedures-bd">
            <ul>
                <li> <i class="point-1"></i>
                    <a href="https://www.ypzdw.com/Help/PurchaseTips/?step=1" target="_blank">
                        <p class="ico">
                            <i class="iconfont"></i>
                        </p>
                        <p class="title">注册会员</p>
                        <p class="info">点击注册、填写资料</p>
                    </a>
                </li>
                <li class="arrows">
                    <i class="fa fa-chevron-right"></i>
                </li>
                <li>
                    <i class="point-2"></i>
                    <a href="https://www.ypzdw.com/Help/PurchaseTips/?step=2" target="_blank">
                    <p class="ico">
                        <i class="iconfont" style="line-height: 52px;font-size: 44px;"></i>
                    </p>
                        <p class="title">资质认证</p>
                        <p class="info">上传资质，认证成功</p>
                    </a>
                </li>
                <li class="arrows"><i class="ico_main fa fa-chevron-right"></i></li>
                <li> <i class="point-3"></i> <a href="https://www.ypzdw.com/Help/PurchaseTips/?step=4" target="_blank"> <p class="ico"><i class="iconfont" style="line-height: 41px;font-size: 48px;"></i></p> <p class="title">采购下单</p> <p class="info">挑选中意商品，下单购买</p> </a> </li>
                <li class="arrows"><i class="ico_main fa fa-chevron-right"></i></li>
                <li> <i class="point-4"></i> <a href="https://www.ypzdw.com/Help/PurchaseTips/?step=8" target="_blank"> <p class="ico"><i class="iconfont" style="line-height: 47px;font-size: 37px;"></i></p> <p class="title">确认收货</p> <p class="info">收货后可评价商品</p> </a> </li>
            </ul>
        </div>
    </div>
</div>
