/*
* @Author: Rosen
* @Date:   2017-05-09 17:16:19
* @Last Modified by:   Rosen
* @Last Modified time: 2017-05-26 19:25:17
*/


/*.keywords-item{*/
/*border-bottom:1px  dashed ;*/
/*position: relative;*/
/*margin: 0 19px 0 12px;*/
/*padding-right: 16px;*/
/*padding-bottom: 1px;*/
/*height: 55px;*/
/*line-height: 55px;*/
/*font-size: 14px;*/
/*overflow: hidden*/
/*}*/
/*.keywords-list{*/
/*height: 447px;*/
/*}*/


/* keywords-list */
.keywords-list{
    float: left;
    width: 200px;
    height: 447px;
    padding: 0 0;
    margin-right: 0;
    background: #666;
    color: #fff;
}
.keywords-list .keywords-item{
    /*padding-left: 10px;*/
    /*height: 35px;*/
    /*line-height: 35px;*/
    /*font-size: 14px;*/
    border-bottom:1px  dashed ;
    position: relative;
    margin: 0 19px 0 12px;
    padding-right: 16px;
    padding-bottom: 1px;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    overflow: hidden

}
/*设置font-awesome样式的*/
.keywords-list .keywords-item .fa-chevron-right:before{
    display: block;
    position: absolute;
    right: 1px;
    top: 50%;
    margin-top: -6px
}

.keywords-list .keywords-item:hover{
    background: #999;
}
.keywords-list .keywords-item .link{
    margin-right: 6px;
    color: #fff;
}
.keywords-list .keywords-item .link:hover{
    color: #c60023;
}

/*轮播图上面的小图*/
.bottom-slider{
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 8;
    margin-left: -395px;
    width: 790px;
    display: block
}
.bottom-slider .bottom-div{
    width: 260px;
    height: 110px;
    float: left;
    overflow: hidden;
}
.bottom-slider div:first-child {
    margin-left: 5px
}

/* banner-con 轮播图*/
.banner-con{
    width: 790px;
    float: left;
    height: 447px;
    background: #eee;
}
.banner-con .loading{
    margin-top: 150px;
}
.banner-con .banner-img{
    width: 100%;
    height: 447px;
}
/* banner的前一张和后一张按钮 */
.banner-con .banner-arrow{
    position: absolute;
    top:160px;
    width: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    background: #ccc;
    background: rgba(0,0,0,.2);
    cursor: pointer;
}
.banner-con .banner-arrow:hover{
    background: #aaa;
    background: rgba(0,0,0,.5);
}
.banner-con .banner-arrow.prev{
    left: 0;
}
.banner-con .banner-arrow.next{
    right: 0;
}

/* floor */
.floor-wrap .floor-title{
    height: 50px;
    line-height: 50px;
    color: #d58717;
    font-weight: normal;
    font-size: 20px;
    border-bottom: 1px solid #d58717;
}
/* 更改各楼层标题颜色 */
.floor-wrap:nth-child(2) .floor-title{
    color: #3b838c;
    border-bottom: 1px solid #3b838c;
}
.floor-wrap:nth-child(3) .floor-title{
    color: #a93931;
    border-bottom: 1px solid #a93931;
}
.floor-wrap:nth-child(4) .floor-title{
    color: #488bad;
    border-bottom: 1px solid #488bad;
}
.floor-wrap:nth-child(5) .floor-title{
    color: #642663;
    border-bottom: 1px solid #642663;
}
.floor-wrap .floor-list{
    margin-right: -20px;
    overflow: hidden;
}
.floor-wrap .floor-list .floor-item{
    position: relative;
    width: 200px;
    height: 220px;
    margin: 15px 20px 15px 0;
    float: left;
    cursor: pointer;
    background: #fff;
}
.floor-wrap .floor-list .floor-item:hover{
    box-shadow: 1px 1px 7px #ddd;
}
.floor-wrap .floor-list .floor-item .floor-text{
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 16px;
    color: #555;
}
.floor-wrap .floor-list .floor-item .floor-img{
    position: absolute;
    right: 15px;
    bottom: 10px;
    width: 80%;
    height: 75%;
    border: none;
}
/*右侧的用户区域*/
/*图标区域*/
.icon_index_v1 {
    display: inline-block;
    background: url(../../image/icon/icon_index_v1.png) no-repeat
}

.icon_more {
    height: 16px;
    width: 16px;
    background-position: 0 0
}

.icon_index_qorder {
    height: 45px;
    width: 45px;
    background-position: 0 -16px
}

.icon_index_msg {
    height: 45px;
    width: 45px;
    background-position: 0 -61px
}

.icon_index_collect {
    height: 45px;
    width: 45px;
    background-position: 0 -106px
}

.icon_clock {
    height: 64px;
    width: 54px;
    background-position: 0 -151px
}



.focus-my {
    position: absolute;
    right: 0;
    top: 0;
    width: 198px;
    height: 444px;
    border: 1px solid #ddd6d9;
    border-top: 2px solid #efe7ea;
    /*background: url(../images/base/white_opacity_95.png) repeat;*/
    z-index: 8
}
.focus-my .bd {
    height: 314px;
    border-bottom: 1px solid #ddd
}
.focus-my .bd .focus-my-out {
    overflow: hidden
}

.focus-my .bd .focus-my-out .my-icon {
    margin-top: 18px;
    text-align: center;
    left: 50%;
}
.focus-my .bd .focus-my-out .my-icon img{
    vertical-align: middle;
    border: 0;
    margin-left: 25%;
}

.focus-my .bd .focus-my-out .my-icon p {
    margin-top: 12px;
    line-height: 14px;
    color: #666;

}

.focus-my .bd .focus-my-out .btn-login,.focus-my .bd .focus-my-out .btn-reg {
    margin: 10px auto;
    display: block;
    width: 148px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #77c552;
    background-color: #fff;
    font-size: 16px;
    color: #77c552;
    text-align: center;
    border-radius: 5px
}

.focus-my .bd .focus-my-out .btn-login:hover,.focus-my .bd .focus-my-out .btn-reg:hover {
    opacity: 0.8
}

.focus-my .bd .focus-my-out .btn-login {
    background-color: #77c552;
    color: #fff
}

.focus-my .bd .focus-my-out .my-out-footer {
    margin: 26px 10px 0;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    color: #000
}

.focus-my .bd .focus-my-out .my-out-footer .my-out-code {
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #77c552
}

.focus-my .hd {
    height: 128px;
    overflow: hidden
}

.focus-my .hd.sales-hd {
    display: none
}

.focus-my .hd .ico_main {
    display: inline-block
}

.focus-my .hd .item {
    position: relative;
    float: left;
    margin-top: 27px;
    width: 66px;
    text-align: center
}

.focus-my .hd .item p {
    margin-top: 10px;
    line-height: 14px
}

.focus-my .hd .item em {
    position: absolute;
    top: -8px;
    right: 3px;
    line-height: 1;
    border-radius: 50%;
    background: #ff3f3f;
    font-style: normal;
    color: #fff
}

.focus-my .hd .item em span {
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    -webkit-transform: scale(0.84, 0.84);
    *font-size: 10px;
    overflow: hidden
}


